.SideImages {
    float: right;
    width: 400px;
    object-fit: cover;
    margin-right: 5%;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.6) 20px 20px 20px;
    cursor: pointer;
    background-color: aliceblue;
}

.SideImages:active {
    transform: scale(0.9);
    box-shadow: rgba(0, 0, 0, 0.6) 40px 40px 40px;
}

.MainPageImg {
    width: 13.99%;
    transform: scale(0.9);
}

.MainPageImg:hover {
    transform: scale(1.1);
}